/* ! Font link  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Work Sans";
}

* {
  margin: 0;
}

/* Navbar Styles  */

.navbar {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 144, 14, 0.1);
  padding-right: 100px;
  padding-left: 100px;
}

.navbar-title {
  font-weight: 700;
  font-size: 35px;

  color: #131313;
}

.nav-itmes a {
  margin-right: 20px;
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* Banner Styles */
.banner-container {
  padding-right: 100px;
  background: rgba(255, 144, 14, 0.1);
  padding-left: 100px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 860px;

  margin: 0 auto;
}

.banner-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 15px;
  text-align: center;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.button-primary {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #ff900e;
  padding: 15px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.container-img img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1040px;
  padding-bottom: 50px;
}

/* Quick list styles */

.quick-list {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 25px;
  margin-top: 80px;
}
.quick-list-image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.quick-list-image img {
  width: 250px;
  height: 250px;
  /* padding: 10px; */
}

.quick-list-details {
  width: 100%;
  padding: 200px 0 0 150px;
}

.list-title-1 {
  font-size: 70px;
  color: #727272;
}

.list-title-2 {
  color: #ff900e;
  font-size: 30px;
}
.list-title-3 {
  color: #131313;
  font-size: 30px;
}

.quick-list-description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #727272;
}

/* Features Styles  */

.features {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 100px;
}

.features-details {
  width: 100%;
}
.title {
  font-size: 30px;
  color: #131313;
  margin-bottom: 10px;
}
.features-title {
  color: #131313;
  margin-bottom: 10px;
  margin: 10px 30px;
  font-size: 30px;
  border-left: 10px solid #ff900e;
  padding-left: 10px;
}
.description {
  font-weight: 500;
  font-size: 16px;
  color: #727272;
}
.features-description {
  padding: 0 30px;
  font-weight: 500;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}
.feature-items {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.feature-item-title {
  color: #131313;
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 10px;
}

.feature-item-description {
  font-weight: 500;
  font-size: 16px;
  color: #727272;
}
.features-you-img img {
  width: 100%;
  height: 100%;
}
.special-button {
  background-color: #ff900e;
  padding: 30px 45px;
  border: none;
  border-radius: 8px;
  color: white;
  position: relative;
  bottom: 90px;
  right: 45px;
}
.special-button h2 {
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 700;
}

/* Some Facts Style  */

.some-fact-container {
  padding-right: 100px;
  padding-left: 100px;
}
.some-fact-title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
}
.some-fact-description {
  font-weight: 500;
  font-size: 16px;
  color: #727272;
}
/* Cards  */

.cards {
  margin-top: 50px;
  grid-column-gap: 50px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.card:hover {
  rotate: 45deg;
}

.card {
  border-left: #ff900e solid 5px;
  border-bottom: #ff800e solid 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 20px;
  transition: 0.5s ease-in-out;
}
.card .number {
  font-size: 25px;
  color: #424242;
}
.card-description {
  font-weight: 500;
  font-size: 16px;
  color: #727272;
}

/* Sponsers Styles  */

.sponspors {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}
.sponspors-title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.sponspors-description {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #727272;
}
.sponspors {
  display: grid;
  max-width: 1040px;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 60px;
  margin-top: 50px;
}
.sponspors img {
  height: 50px;
  width: 100%;
  filter: grayscale(5);
  -webkit-filter: grayscale(5);
}

/* Copyright Title Styles  */

.copyright-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #727272;
  padding: 20px;
  border-radius: 8px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Footer Styles  */

.subscribe a {
  text-decoration: none;
  margin-right: 15px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 16px;
  /* margin-top: 130px; */
}

.subscribe-description {
  font-weight: 500;
  font-size: 16px;
  color: #727272;
  margin-bottom: 24px;
}
footer {
  background: #151414;
}
.subscribe {
  margin-top: 50px;
  display: flex;
  gap: 100px;
  color: white;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.email-add {
  font-weight: 500;
  font-size: 16px;
  color: #727272;
  margin-bottom: 16px;
}

.phone-number {
  font-weight: 500;
  font-size: 16px;
  color: #727272;
  margin-bottom: 32px;
}

.subscribe input[type="email"] {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  height: 51px;
  box-sizing: border-box;
}

/* Mobile Responsive  */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-title {
    margin-bottom: 20px;
  }
  .banner {
    flex-direction: column;
  }
  .container-img img {
    width: 300px;
  }
  .quick-list {
    flex-direction: column-reverse;
  }
  .quick-list-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .quick-list-image img {
    width: 220px;
    height: 220px;
    align-items: center;
  }
  .quick-list-details {
    padding: 0%;
    width: 100%;
  }
  .features {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .cards {
    margin-top: 10px;
    display: grid;
    padding-top: 50px;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .sponspors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .sponspors img {
   margin-left: 70px;
    height: 100%;
    width: 50%;
    filter: grayscale(5);
    -webkit-filter: grayscale(5);
  }
  .subscribe{
    flex-direction: column;
  }
}

/* Hiding sections */
.hide {
  display: none;
}
